Antony Schutz <antonyschutz@gmail.com> Anthony Schutz <schutz@urania4.univ-lyon1.fr>
Antony Schutz <antonyschutz@gmail.com> schutz <antonyschutz@gmail.com>
Laure Piqueras <laure.piqueras@univ-lyon1.fr> piqueras <laure.piqueras@univ-lyon1.fr>
Roland Bacon <roland.bacon@univ-lyon1.fr> Roland bacon <roland.bacon@univ-lyon1.fr>
Simon Conseil <simon.conseil@univ-lyon1.fr> <contact@saimon.org>
Simon Conseil <simon.conseil@univ-lyon1.fr> <sconseil@gemini.edu>
Yannick Roehlly <yannick.roehlly@univ-lyon1.fr> <yannick.roehlly@lam.fr>
