include CHANGELOG
include LICENSE
include README.rst
include muse_origin/Dico_3FWHM.fits
include muse_origin/Dico_FWHM_2_12.fits

graft docs
prune docs/api
prune docs/_build
prune muse_origin.egg-info
prune tests

global-exclude *.log *.py[cod] __pycache__ .git
